@model IEnumerable<CascadingDropDown.Models.address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country.country_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state.state_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.address_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country.country_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state.state_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.address_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.address_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.address_id })
        </td>
    </tr>
}

</table>
